body{

background-color: lightpink;}
h1 {

color: hotpink;}


img {
    width: 140px;
}

h2 {
    color: hotpink;
}

img {
    border-radius: 8px;
}

h1 {
    text-shadow: 0 0 3px #FF0000;
}

body {
    text-align: center;
}

